AnimationData (
    name: "01",
    texture: "textures/01xx.png",
    tile_size: (80.0, 80.0),
    columns: 8,
    rows: 36,
    frames: {
        "idle-rigth": Sequence(
            vec: [0, 0, 0, 1, 1, 1, 2, 2, 2],
            root_motion: [(0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0)]
        ),
        "idle-left": Sequence(
            vec: [152, 152, 152, 153, 153, 153, 154, 154, 154],
            root_motion: [(0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0)]
        ),
        // "walk": Sequence(
        //     vec: [9, 10, 10, 10, 11, 11, 11, 13, 13, 14, 15, 15, 15, 15, 15],
        //     root_motion: [(2, 0), (2, 0), (2, 0), (2, 0), (2, 0), (2, 0), (2, 0), (2, 0), (2, 0), (2, 0), (2, 0), (2, 0), (2, 0), (2, 0), (2, 0)]
        // ),
        "walk-rigth": Sequence(
            vec: [9, 10, 11, 12, 13, 14, 15],
            root_motion: [(2, 0), (7, 0), (6, 0), (6, 0), (4, 0), (8, 0), (6, 0)]
        ),
        "walk-left": Sequence(
            vec: [161, 162, 163, 164, 165, 166, 167],
            root_motion: [(-2, 0), (-7, 0), (-6, 0), (-6, 0), (-4, 0), (-8, 0), (-6, 0)]
        ),
        // "walk": Sequence(
        //     vec: [16, 17, 18, 19, 20, 21],
        //     root_motion: [(2, 0), (7, 0), (6, 0), (4, 0), (2.5, 0), (10, 0)]
        // ),
    }
)